<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Set to 10GB (10 * 1024 * 1024 * 1024) -->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\BabyLog.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_MaxRequestBodySize" value="0" />
        <environmentVariable name="ASPNETCORE_HTTP_UPLOAD_LIMIT" value="0" />
        <environmentVariable name="ASPNETCORE_ENABLE_REQUEST_BODY_BUFFERING" value="false" />
        <environmentVariable name="ASPNETCORE_DISABLE_REQUEST_LIMITS" value="true" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: 6F3D3DAA-9D3D-474F-AA55-1413A74F5C71-->